.Header {
    background-color: #4aaaa5;
    margin: 1px 10px 10px 100px;
    height: 90px;
    width: 200px;
    color: #ffffff
    
    
}

div {
    width: 960px;
    margin: 10px;
    border: 3px solid #dddddd;
  }

  .AboutMe{
      background-color:  #ffffff;
      
      
      


  }

  h2 { color: #4aaaa5

  }


  footer {
      border-top: 8px solid #4aaaa5;
      background-color: #666666;
      clear: both;
      padding: 25px;


  }

 
 
 
 
 
 
 
 
 
 
 
 
 
  body{background-image 

  }


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  img {
    float: none;
  }